.homepage-container {
    width: 100vw; // Full width of the viewport
    height: 100vh; // Full height of the viewport
    margin: 0;
    padding: 0;
    .customize-row {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        
        .column {
            flex: 0 0 calc(20% - 16px);
            max-width: calc(20% - 16px);
            cursor: pointer;
            
            @media (max-width: 1199px) {
                flex: 0 0 calc(25% - 16px);
                max-width: calc(25% - 16px);
            }
            
            @media (max-width: 991px) {
                flex: 0 0 calc(33.33% - 16px);
                max-width: calc(33.33% - 16px);
            }
            
            @media (max-width: 767px) {
                flex: 0 0 calc(50% - 16px);
                max-width: calc(50% - 16px);
            }
            
            .wrapper {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 8px;
                
                &:hover {
                    box-shadow: 0 0 10px rgba(0,0,0,0.1);
                }
                
                .thumbnail {
                    height: 200px;
                    margin-bottom: 8px;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }
                
                .text {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .ranking-list-container {
        max-height: 800px; /* Adjust the height as needed */
        overflow-y: auto;
        overflow-x: hidden;
    }
}